@import "include/responsive";

#HomePage {
    .card {
        margin-bottom: 15px;
    }

    .hero-card {
        padding: 28px;

        @include media("<=tablet") {
            display: none;
        }

        .left-side {
            width: 255px;
            float: left;

            .tagline {
                font-weight: 300;
                font-size: 30px;
                color: #636363;
                line-height: 40px;

                strong {
                    font-weight: 500;
                }
            }

            .second-tagline {
                padding-top: 23px;
                line-height: 1.4;
                font-size: 20px;
                color: #636363;
                line-height: 30px;
            }

            .signup-button {
                margin-top: 18px;
            }
        }

        .right-side {
            margin-left: 290px;
        }
    }

    .join-card {
        padding: 20px 28px 30px;

        @include media("<=tablet") {
            padding: 17px 15px 20px;
        }

        h5.card-header {
            font-size: 18px;
            color: #676767;

            @include media("<=tablet") {
                font-size: 15px
            }
        }

        .input-group {
            padding-top: 10px;

            @include media("<=tablet") {
                padding-top: 8px;
            }

            .standard-input {
                @include media("<=tablet") {
                    width: calc(100% - 75px);
                }
            }

            .join-button {
                vertical-align: middle;
                display: inline-block;
                @include media("<=tablet") {
                    float: right;
                }
            }
        }

        .not-found {
            text-align: center;
            padding-top: 25px;
            font-size: 24px;

            h4 {
                display: inline-block;
                color: #656565;
            }

            span {
                display: inline-block;
                color: #9A9A9A;
            }
        }
    }
}
