@import 'include/mixin';
@import 'include/responsive';

#VotingPage {
    @include media(">phone") {

    }
}

.main {
    width: 423px;
    margin: 0 auto;
    background: #FBFBFB;
    padding: 38px 0;
}

.main-container {
    padding-bottom: 34px;
}

.annoucement {
    // margin: 35px 35px 75px 35px;
    // padding: 55px;
    // font-size: 45px;
    font-size: 30px;
    color: #656565;
    text-align: center;

    .annoucement-subtext {
        font-size: 18px;
        color: #989898;
        margin-top: 8px;
    }
}

.candidate {
    position: relative;
    margin: 17px auto;
    width: 423px;
    height: 60px;
    background-image: linear-gradient(-180deg, #fdfdfd 0%, #ededed 100%);
    // border: 1px solid #e0e0e0;
    border: 1px solid transparent;
    box-shadow: 0px 0px 2px 0px #a7a7a7;
    border-radius: 7px;
    vertical-align: middle;
    cursor: pointer;
    @include no-select();

    &:active, &.active {
        border: 1px solid #b9b9b9;
        background-image: linear-gradient(-180deg, gainsboro 0%, #d4d4d4 100%);
        box-shadow: 0px 0px 2px 0px #a7a7a7, inset 0px 3px 6px 0px rgba(163, 163, 163, 0.67);
        border-radius: 7px;
    }

    .candidate-name {
        display: inline-block;
        vertical-align: middle;
        margin-left: 26px;
        font-size: 32px;
        color: #717171;
        padding-top: 5px;
    }

    .condidate-votes-container {
        display: inline-block;
        width: 100%;

        .candidate-votes {
            width: 100px;
            margin: auto;
            height: 80px;
            line-height: 80px;
            font-size: 24px;
            color: #929292;
        }
    }

    .candidate-progress-bar {
        border-radius: 7px 0 0 7px;
        position: absolute;
        height: 80px;
        background: rgba(255, 107, 129, 0.12);
        box-shadow: 0px 0px 2px 0px rgba(163, 30, 52, 0.36);
    }
}
