@import 'include/reset';
@import 'include/fonts';
@import "include/responsive";
@import "include/mixin";

body {
    font-family: 'bunt';
    letter-spacing: .03em;
    background: #EEEEEE;
    height: 100%;

    input {
        font-family: 'bunt';
        letter-spacing: .03em;

        @include placeholder {
            font-family: 'bunt';
            letter-spacing: .03em;
        }
    }
}

#App {
    min-height: 100%;
    position: relative;

    .page-content {
        padding-bottom: 50px;
        padding-top: 64px + 25px;

        @include media("<=phone") {
            padding-top: 88px;
        }
    }

    > footer {
        width: 100%;
        height: 20px;
        text-align: center;
        position: absolute;
        padding-bottom: 5px;
        font-size: 14px;
        bottom: 0;
        left: 0;
        color: #BDBDBD;
    }
}

.card {
    background: #FBFBFB;
    border: 1px solid #CFCFCF;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20);
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.vertical-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/************************
 * Button Styles
 ************************/

.button {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    @include no-select();
}

.standard-button {
    color: white;
    background-image: linear-gradient(-180deg, #B93A57 0%, #972538 100%);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.31), inset 0px -1px 3px 0px rgba(76,76,76,0.50);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 12px;
    padding: 9px 12px;
    text-align: center;

    &.large {
        font-size: 16px;
        padding: 11px 16px;
    }

    &:hover {
        background-image: linear-gradient(-180deg, #AD3652 0%, #8A2132 100%);
    }

    &:active {
        background-image: linear-gradient(-180deg, #A8344F 0%, #852031 100%);
        border: 1px solid rgba(39,39,39,0.40);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.31), inset 0px 3px 6px 0px rgba(51,51,51,0.68);
    }
}

.clear-button {
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 16px;
    border: 1px solid rgba(255,255,255,0.25);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.21);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(-180deg, #EDEDED 0%, rgba(214,214,214,0.07) 100%);
        border-radius: 5px;
        opacity: .24;
    }
}

.link-button {
    font-size: 16px;
    color: white;
}

/************************
 * Input Styles
 ************************/

.standard-input {
    font-size: 15px;
    color: #636363;
    padding-left: 13px;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 345px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid #A2A2A2;
    box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.30), inset 0px 1px 2px 0px rgba(39,39,39,0.55);
    border-radius: 5px;

    @include placeholder {
        font-size: 15px;
    }
}
